body{
  background-color: rgba(0, 0, 0, 0.735);
}
main{
  background-color: aqua;
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
main div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main div input{
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  border: solid transparent;
}
main div input:focus{
  outline: none;
  border: solid green;
}
main button{
  font-size: 20px;
  border-radius: 10px;
  padding: 5px;
  border: none;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  background-color: greenyellow;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
main button:hover{
  color: black;
}